<body>
    <div class="banner-container">
        <img class="banner-img" src="./assets/city_crop2.jpg"> 
        <div class="text-block">
            <p>CAPTURING YOUR NEEDS</p>
        </div>
    </div>
    <div class="card-container" fxLayout="column">
        <div fxFlex="" class="description-container">
            <mat-card class="description-card">
                <mat-card-content class="description">
                    <p>
                        With both drone and helicopter platforms available, we have all of your aerial 
                        photography and film needs covered - with 
                        flexibility and scale.
                        Suitable for photography and surveillance across industry including real-estate, 
                        infrastructure, construction, news teams and more, as well as private projects - at a 
                        competitive rate.  
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
        <div fxFlex="">
            <div class="img_row" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
                <mat-card class="photo-card" fxFlex="">
                    <mat-card-title>HELICOPTER PLATFORM</mat-card-title>
                    <mat-card-subtitle>Controlled Airspace, High Altitude, Long Range</mat-card-subtitle>
                    <mat-card-content class="photo-text">
                        <img class="photo-img" src="./assets/photography1.jpg">
                        <p class="photo-para">
                            With immense experience in smooth and steady flight for aerial work, we ensure your imagery needs 
                            are covered through the helicopter platform - removable doors, photographer harness, 
                            and aircraft options. For mid to high altitude, any airspace, high or low speed.
                        </p>
                    </mat-card-content> 
                </mat-card>
                <mat-card class="photo-card" fxFlex="">
                    <mat-card-title>DRONE PLATFORM</mat-card-title>
                    <mat-card-subtitle>Flexible, Cost-Effective, Short Range</mat-card-subtitle>
                    <mat-card-content class="photo-text">
                        <img class="photo-img" src="./assets/phantom2.jpg">
                        <p class="photo-para"> 
                            An affordable and exceptional way to generate aerial images and cinematic footage. 
                            Ideal for capturing lower level imagery with amazing detail - in inclement weather, with
                            flexibility, day or night - our drone is a practical alternative to traditional aviation.
                        </p>
                    </mat-card-content> 
                </mat-card>
            </div>   
        </div>
        <div class="check-container" fxLayout="row" fxLayoutGap="20px" fxLayout.sm="column" fxLayout.xs="column">
            <mat-card fxFlex="" class="check-card">
                <mat-card-content class="check-text">
                    <mat-icon color="primary">check_circle</mat-icon>
                    <p>removable aircraft doors</p>
                </mat-card-content>
            </mat-card>
            <mat-card fxFlex="" class="check-card" >
                <mat-card-content class="check-text">
                    <mat-icon color="primary">check_circle</mat-icon>
                    <p>photographer harness</p>
                </mat-card-content>
            </mat-card>
            <mat-card fxFlex="" class="check-card" >
                <mat-card-content class="check-text">
                    <mat-icon color="primary">check_circle</mat-icon>
                    <p>controlled and uncontrolled airspace</p>
                </mat-card-content>
            </mat-card>
            <mat-card fxFlex="" class="check-card" >
                <mat-card-content class="check-text">
                    <mat-icon color="primary">check_circle</mat-icon>
                    <p>fully licensed drone pilot</p>
                </mat-card-content>
            </mat-card>        
        </div>
        <div class="contact-container"> 
            <div class="contact-header">
                <h4>
                    FOR BOOKINGS AND ENQUIRIES
                </h4>
            </div>
            <div class="button-container">
                <a class="cont-button" mat-raised-button color="accent" href="tel:+61451979048"> Give us a call <br> +6 1 451 979 048</a>
                <a class="cont-button" mat-raised-button color="accent" href="mailto:admin@premiairhelicopters.com.au"> Send us an email <br> admin@premiairhelicopters.com.au</a>
            </div>
        </div>
        <mat-card class="review-card" fxFlex="">
            <mat-card-title>
                JOHN SMITH, AEROMETREX
            </mat-card-title>
            <mat-card-subtitle>
                <mat-icon color="accent">star</mat-icon>
                <mat-icon color="accent">star</mat-icon>
                <mat-icon color="accent">star</mat-icon>
                <mat-icon color="accent">star</mat-icon>
                <mat-icon color="accent">star</mat-icon>
            </mat-card-subtitle> 
            <mat-card-content>
                <p>
                    " INSERT QUOTE OF POSITIVE PHOTOGRAPHY EXPERIENCE 
                     "
                </p>
            </mat-card-content>  
        </mat-card>
    </div>
</body>

