<footer fxHide.sm fxHide.xs>
    <div class="footer-container" fxFlex fxLayout="column">
        <div fxFlex="" fxLayout fxLayoutAlign="center">
            <ul fxLayout fxLayoutGap="25px" class="footer-nav-list">
                <li>
                <a routerLink="/scenics">Scenic Flights</a>
                </li>
                <li >
                    <a routerLink="/tours">Experiences</a>
                </li>
                <li >
                <a routerLink="/aerial">Photography</a>
                </li>
                <li>
                <a routerLink="/about">About Us</a>
                </li>
                <li>
                <a href="https://www.facebook.com/PremiAir-Helicopters-584898148653253/"> 
                    <i class="fab fa-facebook" aria-hidden="true"></i>
                </a>
                </li>
                <li>
                <a href="https://www.instagram.com/premiairhelicopters/"> 
                    <i class="fab fa-instagram" aria-hidden="true"></i>
                </a>
                </li>
                <li>
                <a routerLink="/linkedin"> 
                    <i class="fab fa-linkedin" aria-hidden="true"></i>
                </a>
                </li>
            </ul>
        </div>
        <div class="contact" fxFlex="">
            <p>
                + 6 1 451 979 048&emsp;|&emsp;admin@premiairhelicopters.com.au&emsp;|&emsp;Hangar 81 Bristol Street, Essendon Airport, Melbourne
            </p>
        </div>
        <span style="display: block; height:30px;"></span>
        <div fxFlex="" class="copyright">
            <p>© 2020 PremiAir Helicopters. All rights reserved. Carrier Australian Corporate 
                Jet Centre Pty Ltd. Website hand-crafted by
                <a href="https://www.instagram.com/techsupervixen/"> techsupervixen
                    <i class="fab fa-instagram" aria-hidden="true"></i>
                </a>
            </p>
        </div>
    </div>
</footer>
<footer fxHide.gt-sm>
    <div class="footer-container" fxFlex fxLayout="column">
        <div fxFlex="" fxLayout="column">
            <ul class="footer-nav-list">
                <li>
                <a routerLink="/scenics">Scenic Flights</a>
                </li>
                <li >
                    <a routerLink="/tours">Experiences</a>
                </li>
                <li >
                <a routerLink="/aerial">Photography</a>
                </li>
                <li>
                <a routerLink="/about">About Us</a>
                </li>
            </ul>
        </div>
        <div fxFlex="">
            <ul class="footer-nav-list" fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center">
                <li>
                <a href="https://www.facebook.com/PremiAir-Helicopters-584898148653253/"> 
                    <i class="fab fa-facebook" aria-hidden="true"></i>
                </a>
                </li>
                <li>
                <a href="https://www.instagram.com/premiairhelicopters/"> 
                    <i class="fab fa-instagram" aria-hidden="true"></i>
                </a>
                </li>
                <li>
                <a routerLink="/linkedin"> 
                    <i class="fab fa-linkedin" aria-hidden="true"></i>
                </a>
                </li>
            </ul>
        </div>
        <div class="contact" fxFlex="">
            <p>| + 6 1 451 979 048 |</p> 
            <p>| admin@premiairhelicopters.com.au |</p>
            <p>| Hangar 81 Bristol Street, Essendon Airport, Melbourne |</p>
        </div>
        <span style="display: block; height:30px;"></span>
        <div fxFlex="" class="copyright">
            <p>© 2020 PremiAir Helicopters. All rights reserved. Carrier Australian Corporate 
                Jet Centre Pty Ltd. Website hand-crafted by
                <a href="https://www.instagram.com/techsupervixen/"> techsupervixen
                    <i class="fab fa-instagram" aria-hidden="true"></i>
                </a>
            </p>
        </div>
    </div>
</footer>
