.remaining-space 
    flex: 1 1 auto

a 
    text-decoration: none
    color: #00205B
    font-family: sans-serif
    outline: none
 
a:hover, a:active
    color: #fe5000

.navigation-items
    list-style-type: none
    padding-top: 25px
    margin: 0
 
mat-toolbar
    background-color: #ffffff
    color: #FFFFFF
    padding-top: 10px
    padding-bottom: 10px

.logo
    padding-top: 60px
    padding-bottom: 30px
    max-width: 400px
    width: 100%
    height: auto

.logo-small
    padding-top: 50px
    padding-bottom: 30px
    max-width: 300px
    width: 100%
    height: auto

.menu-button
    padding-top: 25px
    padding-inline-end: 15px

mat-icon
    color: #00205B
    outline: none

    
mat-icon:hover
    color: #fe5000







    
