.remaining-space 
    flex: 1 1 auto

a 
    text-decoration: none
    color: #000051
    font-family: sans-serif
    outline: none
    // font-weight: bold
 
a:hover, a:active
    color: #fb8c00

.navigation-items
    list-style-type: none
    padding-top: 25px
    margin: 0
 
mat-toolbar
    background-color: #ffffff
    color: #FFFFFF

.logo
    padding-top: 50px
    padding-bottom: 30px
    max-width: 354px
    height: auto

.menu-button
    padding-inline-end: 15px
    padding-top: 15px

mat-icon
    color: #000051
    outline: none
    
mat-icon:hover
    color: #fb8c00







    
