<link rel="stylesheet" href=
"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css">
<!-- </link> -->
<!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous"> -->
<mat-toolbar>
<mat-toolbar-row>
  <div fxHide.gt-xs>
  <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon color = "primary">menu</mat-icon>
  </button>
</div>
<div>
  <a routerLink="/home">
    <img src="../../assets/logo.PNG" width="120" height="44"> 
  </a>
</div>
<span class="remaining-space"></span>
<div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
  <ul fxLayout fxLayoutGap="30px" class="navigation-items">
      <li>
        <a routerLink="/scenics">Scenics
        </a>
      </li>
      <li >
          <a routerLink="/tours">Tours</a>
      </li>
      <li >
        <a routerLink="/aerial">Photography</a>
      </li>
      <li>
        <a routerLink="/about">About Us</a>
      </li>
      <li>
        <a routerLink="/facebook"> 
          <i class="fab fa-facebook" aria-hidden="true"></i>
        </a>
      </li>
      <li >
        <a routerLink="/instagram"> 
          <i class="fab fa-instagram" aria-hidden="true"></i>
        </a>
      </li>
      <li >
        <a routerLink="/linkedin"> 
          <i class="fab fa-linkedin" aria-hidden="true"></i>
        </a>
      </li>
  </ul>
</div>
</mat-toolbar-row>
</mat-toolbar>
<div>
HOME CONTENT 
</div>