.remaining-space 
    flex: 1 1 auto

a 
    text-decoration: none
    color: #00205B
    font-family: sans-serif
    outline: none
    font-weight: bold
 
a:hover, a:active
    color: #fe5000
    font-size: 101%


@media screen and (min-width: 1201px)
    a
        font-size: 18px

@media screen and (max-width: 1200px)
    a
        font-size: 16px

.navigation-items
    list-style-type: none
    padding-top: 40px
    margin: 0

mat-icon
    font-size: 30px 

mat-toolbar
    background-color: #ffffff
    color: #FFFFFF
    padding-top: 10px
    padding-bottom: 50px
    border-top-style: solid
    border-top-width: thin
    border-top-color: #00205B
    border-bottom-style: solid
    border-bottom-color: #00205B
    border-bottom-width: thin
    padding-left: 10px
    padding-right: 10px



.logo
    padding-top: 80px
    padding-bottom: 30px
    max-width: 400px
    width: 100%
    height: auto

.logo-small
    padding-top: 70px
    padding-bottom: 25px
    max-width: 220px
    width: 100%
    height: auto
    padding-inline-end: 0px

.menu-button
    padding-top: 40px
    padding-inline-end: 10px

mat-icon
    color: #00205B
    outline: none

    
mat-icon:hover
    color: #fe5000







    
