<body>
    <div class="banner-container">
        <img class="banner-img" src="../../assets/pilot1.jpg"> 
        <div class="text-block">
            <p>MEET OUR TEAM</p>
        </div>
    </div>
    <div class="card-container" fxLayout="column">
        <div fxFlex="" class="description-container">
            <mat-card class="description-card">
                <mat-card-content class="description">
                    <p>
                        PremiAir Helicopters is a small family of passionate and experienced 
                        aviators, adding a personal touch to every flight. Our mission is to 
                        share our phenominal view of the world with everyone we can - we can't 
                        wait to have you aboard!
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
        <div fxFlex="">
            <div class="img_row" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
                <mat-card class="pilot-card" fxFlex="">
                    <mat-card-title>JOHN</mat-card-title>
                    <mat-card-subtitle>Chief Pilot and Instructor</mat-card-subtitle>
                    <mat-card-content class="pilot-text">
                        <img class="pilot-img" src="../../assets/john.jpg">
                        <p class="pilot-para">
                            John began his flying career in the 1980s, having attained both his fixed 
                            and rotary wing licenses. His 30+ year long career has spanned mustering, mining,
                            agrigultural flying, the highest level of instructing, powerline work, 
                            and media - including piloting the ABC news chopper! Having also gained his Air Transport
                            Pilot License, these days John is focused on sharing his love of flying with his
                            team and his customers.
                        </p>
                    </mat-card-content> 
                </mat-card>
                <mat-card class="pilot-card" fxFlex="">
                    <mat-card-title>PAT</mat-card-title>
                    <mat-card-subtitle>Professional Pilot</mat-card-subtitle>
                    <mat-card-content class="pilot-text">
                        <img class="pilot-img" src="../../assets/pat.jpg">
                        <p class="pilot-para">
                            Pat is a passionate and very experienced scenic pilot. Having completed his training
                            here in Melbourne, he's flown several seasons in many different helicopters at some of Australia's most iconic locations
                             - including Ayers Rock and Kings Canyon, as well as Katherine Gorge. Now back in his home
                             town, Pat loves to take people up to see Melbourne the best way - from the air.
                        </p>
                    </mat-card-content> 
                </mat-card>
                <mat-card class="pilot-card" fxFlex="">
                    <mat-card-title>HENRY</mat-card-title>
                    <mat-card-subtitle>Professional Pilot</mat-card-subtitle>
                    <mat-card-content class="pilot-text">
                        <img class="pilot-img" src="../../assets/temp.png">
                        <p class="pilot-para">
                            Henry obtained his commercial pilots licence right here in Melbourne, at Moorabbin
                            Airport. Throughout his flying career he has flown Robinson R22 and R44 helicopters,
                            as well as AS350 Squirrels, and has been flying out of Essendon for over a year. He 
                            is also a qualified Mechanical Engineer - helicopters allow him to combine his passion 
                            for flight, and machines!
                        </p>
                    </mat-card-content> 
                </mat-card>
            </div>   
        </div>
        <div class="contact-container"> 
            <div class="contact-header">
                <h4>
                    FOR BOOKINGS AND ENQUIRIES
                </h4>
            </div>
            <div class="button-container">
                <a class="cont-button" mat-raised-button color="accent" href="tel:+61451979048"> Give us a call <br> +6 1 451 979 048</a>
                <a class="cont-button" mat-raised-button color="accent" href="mailto:admin@premiairhelicopters.com.au"> Send us an email <br> admin@premiairhelicopters.com.au</a>
            </div>
        </div>
        <div fxFlex="">
            <div class="img_row" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
                <mat-card class="heli-card" fxFlex="">
                    <mat-card-title>ROBINSON R44</mat-card-title>
                    <mat-card-subtitle></mat-card-subtitle>
                    <mat-card-content class="heli-text">
                        <img class="heli-img" src="../../assets/44.jpg">
                        <p class="heli-para">
                            The Robinson R44 has been the world's best selling helicopter
                            for more than 20 years. A light helicopter with 4 seats, a 6 
                            cylinder piston engine and hydraulic controls, the R44 is 
                            exceptionally popular for intimate scenic flights, or a speedy
                            and comfortable cruise to your destination.
                        </p>
                    </mat-card-content> 
                </mat-card>
                <mat-card class="heli-card" fxFlex="">
                    <mat-card-title>AS350 SQUIRREL</mat-card-title>
                    <mat-card-subtitle></mat-card-subtitle>
                    <mat-card-content class="heli-text">
                        <img class="heli-img" src="../../assets/squiz.jpg">
                        <p class="heli-para">
                            The Eurocopter AS350 Squirrel is one of the most popular and 
                            versatile work horses of the aviation world. A turbine-engined 
                            light and powerful helicopter, it can be both a comfortable, smooth scenic
                            flyer with excellent visibility for all passengers - or a utility machine for fire 
                            fighting, powerline or even military operations.
                        </p>
                    </mat-card-content> 
                </mat-card>
                <mat-card class="heli-card" fxFlex="">
                    <mat-card-title>BELL JETRANGER</mat-card-title>
                    <mat-card-subtitle></mat-card-subtitle>
                    <mat-card-content class="heli-text">
                        <img class="heli-img" src="../../assets/jetty.png">
                        <p class="heli-para">
                            The Bell 206 JetRanger was originally designed as a light observation
                            helicopter for the US Army, but has since become a family of single 
                            and twin turbine engine helicopters used for many civilian and military
                            applications. Like the Squirrel, it is a wonderful host for passengers to
                            to experience the world from the air.
                        </p>
                    </mat-card-content> 
                </mat-card>
            </div>   
        </div>
        <div class="location" fxFlex="" fxLayout="column">
            <div fxFlex="">
                <h4> WHERE TO FIND US</h4>
                <a class="maplink" href="https://goo.gl/maps/uvRuSkWjy82sGASN9">
                    <p class="hangar">
                        Hangar 81
                    </p>
                    <p class="address">
                        30 Bristol Street, Essendon Airport, Melbourne, Australia
                    </p>
                </a>
            </div>
            <div class="map" fxFlex="">
                <a href="https://goo.gl/maps/uvRuSkWjy82sGASN9">
                    <img class="map-img" src="../../assets/hangar85_map.jpg">
                    <img class="map-img" src="../../assets/hangar85_img.jpg">
                </a>
            </div>
        </div>
    </div>
</body>

