<body>
    <div class="banner-container">
        <img class="banner-img" src="../../assets/pilot1.jpg"> 
        <div class="text-block">
            <p>MEET OUR TEAM</p>
        </div>
    </div>
    <div class="card-container" fxLayout="column">
        <div fxFlex="" class="description-container">
            <mat-card class="description-card">
                <mat-card-content class="description">
                    <p>
                        PremiAir Helicopters is a small family of passionate and experienced 
                        aviators, adding a personal touch to every flight. Our mission is to 
                        share our phenominal view of the world with as many as we can - we can't 
                        wait to have you aboard!
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
        <div fxFlex="">
            <div class="img_row" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
                <mat-card class="pilot-card" fxFlex="">
                    <mat-card-title>JOHN</mat-card-title>
                    <mat-card-subtitle>Chief Pilot and Instructor</mat-card-subtitle>
                    <mat-card-content class="pilot-text">
                        <img class="pilot-img" src="../../assets/john.jpg">
                        <p class="pilot-para">
                            John began his flying career in the 1980s, obtaining both his fixed 
                            and rotary wing licenses! 
                        </p>
                    </mat-card-content> 
                </mat-card>
                <mat-card class="pilot-card" fxFlex="">
                    <mat-card-title>PATRICK</mat-card-title>
                    <mat-card-subtitle>Professional Pilot</mat-card-subtitle>
                    <mat-card-content class="pilot-text">
                        <img class="pilot-img" src="../../assets/temp.png">
                        <p class="pilot-para">
                            insert spiel on Pat
                        </p>
                    </mat-card-content> 
                </mat-card>
                <mat-card class="pilot-card" fxFlex="">
                    <mat-card-title>HENRY</mat-card-title>
                    <mat-card-subtitle>Professional Pilot</mat-card-subtitle>
                    <mat-card-content class="pilot-text">
                        <img class="pilot-img" src="../../assets/temp.png">
                        <p class="pilot-para">
                            insert spiel on Henry
                        </p>
                    </mat-card-content> 
                </mat-card>
            </div>   
        </div>
        <div class="contact-container"> 
            <div class="contact-header">
                <h4>
                    FOR BOOKINGS AND ENQUIRIES
                </h4>
            </div>
            <div class="button-container">
                <a class="cont-button" mat-raised-button color="accent" href="tel:+61451979048"> Give us a call <br> +6 1 451 979 048</a>
                <a class="cont-button" mat-raised-button color="accent" href="mailto:admin@premiairhelicopters.com.au"> Send us an email <br> admin@premiairhelicopters.com.au</a>
            </div>
        </div>
        <div fxFlex="">
            <div class="img_row" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
                <mat-card class="heli-card" fxFlex="">
                    <mat-card-title>ROBINSON R44</mat-card-title>
                    <mat-card-subtitle></mat-card-subtitle>
                    <mat-card-content class="heli-text">
                        <img class="heli-img" src="../../assets/temp.png">
                        <p class="heli-para">
                            insert spiel on 44
                        </p>
                    </mat-card-content> 
                </mat-card>
                <mat-card class="heli-card" fxFlex="">
                    <mat-card-title>AS350 SQUIRREL</mat-card-title>
                    <mat-card-subtitle></mat-card-subtitle>
                    <mat-card-content class="heli-text">
                        <img class="heli-img" src="../../assets/temp.png">
                        <p class="heli-para">
                            insert spiel on squiz
                        </p>
                    </mat-card-content> 
                </mat-card>
                <mat-card class="heli-card" fxFlex="">
                    <mat-card-title>BELL JETRANGER</mat-card-title>
                    <mat-card-subtitle></mat-card-subtitle>
                    <mat-card-content class="heli-text">
                        <img class="heli-img" src="../../assets/temp.png">
                        <p class="heli-para">
                            insert spiel on jetty
                        </p>
                    </mat-card-content> 
                </mat-card>
            </div>   
        </div>
        <div class="location" fxFlex="" fxLayout="column">
            <div fxFlex="">
                <h4> WHERE TO FIND US</h4>
                <a class="maplink" href="https://goo.gl/maps/uvRuSkWjy82sGASN9">
                    <p class="hangar">
                        Hangar 81
                    </p>
                    <p class="address">
                        30 Bristol Street, Essendon Airport, Melbourne, Australia
                    </p>
                </a>
            </div>
            <div class="map" fxFlex="">
                <a href="https://goo.gl/maps/uvRuSkWjy82sGASN9">
                    <img class="map-img" src="../../assets/hangar85_map.jpg">
                    <img class="map-img" src="../../assets/hangar85_img.jpg">
                </a>
            </div>
        </div>
    </div>
</body>

