<mat-nav-list>
    <div class="item">
    <a mat-list-item routerLink="/home" (click)="onSidenavClose()">
        <mat-icon color="primary">home</mat-icon><span class="nav-caption"> Home</span>
    </a>
    </div>
    <a mat-list-item routerLink="/scenics" (click)="onSidenavClose()">
        <mat-icon color="primary">camera_alt</mat-icon> <span class="nav-caption">  Scenic and Joy Flights</span>   
    </a>
    <a mat-list-item routerLink="/tours" (click)="onSidenavClose()">
        <mat-icon color="primary">local_bar</mat-icon><span class="nav-caption">  Tours and Charters</span>
    </a>
    <a mat-list-item routerLink="/aerial" (click)="onSidenavClose()">
        <mat-icon color="primary">camera_roll</mat-icon><span class="nav-caption">  Aerial Photography</span>
    </a>
    <a mat-list-item routerLink="/about" (click)="onSidenavClose()">
        <mat-icon color="primary">person_pin</mat-icon><span class="nav-caption">  About Us</span>
    </a>
  </mat-nav-list>
