.nav-caption
    text-decoration: none
    color: #00205B
    display: inline-block
    padding-left: 6px

.item:hover
    color: #fe5000
    
.nav-caption:hover, .nav-caption:active 
    color: #fe5000



    
