.nav-caption
    text-decoration: none
    color: #1a237e
    display: inline-block
    padding-left: 6px
    font-family: sans-serif

.item:hover
    color: #f57c00
    
// mat-list-item:hover
//     color: #f57c00
.nav-caption:hover, .nav-caption:active 
    color: #f57c00

// mat-icon:hover
//     color: #f57c00
    
