<mat-nav-list>
    <a mat-list-item routerLink="/home" (click)="onSidenavClose()">
        <mat-icon>home</mat-icon> <span class="nav-caption">Home</span>
    </a>
    <a mat-list-item routerLink="/scenics" (click)="onSidenavClose()">
        <mat-icon>camera_alt</mat-icon> <span class="nav-caption">Scenics</span>   
    </a>
    <a mat-list-item routerLink="/tours" (click)="onSidenavClose()">
        <mat-icon>local_bar</mat-icon><span class="nav-caption">Tours</span>
    </a>
  </mat-nav-list>
