<body>
    <div routerLink="/scenics" class="banner-container">
        <img class="banner-img" src="../../assets/12apostles3.jpg"> 
        <div class="text-block">
            <p>TAKE TO THE SKIES</p>
        </div>
    </div>
    <div class="card-container" fxLayout="column">
        <div fxFlex="">
            <div class="img_row" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
                <mat-card class="flight-card" fxFlex="">
                    <mat-card-title>MELBOURNE CITY</mat-card-title>
                    <mat-card-subtitle>20 Minute Scenic Flight, from $175pp</mat-card-subtitle>
                    <mat-card-content class="flight-text">
                        <img class="scenic-img" src="../../assets/city1.jpg">
                        <p>
                            Fly to the beautiful beaches within 5 minutes, passing all there is 
                            to see between Essendon and St Kilda. Finished with a city orbit for 
                            the stunning city views. 
                        </p>
                    </mat-card-content> 
                </mat-card>
                <mat-card class="flight-card" fxFlex="">
                    <mat-card-title>GREAT OCEAN ROAD</mat-card-title>
                    <mat-card-subtitle>Half Day Adventure to the 12 Apostles, from $1750pp</mat-card-subtitle>
                    <mat-card-content class="flight-text">
                        <img class="scenic-img" src="../../assets/12apostles2.jpg">
                        <p>
                            Fly out to the Great Ocean Road, and soak in the views of the world
                            reknowned 12 Apostles and surrounding coastline. An amazing, customisable
                            experience!
                        </p>
                    </mat-card-content> 
                </mat-card>
                <mat-card class="flight-card" fxFlex="">
                    <mat-card-title>CITY AND BEACHES</mat-card-title>
                    <mat-card-subtitle>30 Minute City and Beaches Scenic Flight, from $230pp</mat-card-subtitle>
                    <mat-card-content class="flight-text">
                        <img class="scenic-img" src="../../assets/albertpark1.jpg">
                        <p class="text">
                            Fly direct to Williamstown, then cruise the Melbourne coastline down to the
                            beautiful Half Moon Bay. Return up the coast to the city scape and finish 
                            with an amazing city orbit.
                        </p>
                    </mat-card-content> 
                </mat-card>
            </div>   
        </div>
        <div class="contact-container"> 
            <div class="contact-header">
                <h4>
                    FOR BOOKINGS AND ENQUIRIES
                </h4>
            </div>
            <div class="button-container">
                <a class="cont-button" mat-raised-button color="accent" href="tel:+61451979048"> Give us a call <br> +6 1 451 979 048</a>
                <a class="cont-button" mat-raised-button color="accent" href="mailto:admin@premiairhelicopters.com.au"> Send us an email <br> admin@premiairhelicopters.com.au</a>
            </div>
        </div>
    </div>
</body>

