<body>
    <div class="banner-container">
        <img class="banner-img" src="../../assets/heli_stones.jpg"> 
        <div class="text-block">
            <p>LUXURY FOOD AND WINE PACKAGES</p>
        </div>
    </div>
    <div class="card-container" fxLayout="column">
        <div fxFlex="" class="description-container">
            <mat-card class="description-card">
                <mat-card-content class="description">
                    <p>
                        Cruise in a helicopter to the cool climate region of the Yarra Valley, 
                        where you can indulge in beautiful cuisine, matched wines and stunning 
                        views - before your relaxing return flight to Melbourne. All flights include 
                        safety briefings, commentary from your pilot, and plenty of photo 
                        opportunities! 
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
        <div fxFlex="">
            <div class="img_row" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
                <mat-card class="wine-card" fxFlex="">
                    <mat-card-title>DE BORTOLI WINES ESTATE</mat-card-title>
                    <mat-card-subtitle>Yarra Valley</mat-card-subtitle>
                    <mat-card-content class="wine-text">
                        <img class="wine-img" src="../../assets/wine1.jpg">
                        <p class="wine-para">
                            First planted in 1971, the vineyard is now planted to 170 Hectares 
                            of predominantly Chardonnay, Pinot Noir, Syrah and Cabernet 
                            Sauvignon. Recent new vineyards of Pinot Gris, Pinot Blanc 
                            and Gamay Noir have been established and are looking quite 
                            spectacular. The soils are sedimentary in origin and are known 
                            as Humevale Siltstones. The wines produced from these soils are 
                            quite aromatic and have very good depth of colour and flavour.
                        </p>
                    </mat-card-content> 
                </mat-card>
                <mat-card class="wine-card" fxFlex="">
                    <mat-card-title>LEVANTINE HILL ESTATE</mat-card-title>
                    <mat-card-subtitle>Yarra Valley</mat-card-subtitle>
                    <mat-card-content class="wine-text">
                        <img class="wine-img" src="../../assets/levantine1.jpg">
                        <p class="wine-para"> 
                            Most wineries have a restaurant. Some of them are good. 
                            Levantine Hill is exceptional. Just as they seek perfection 
                            in their wines, they also want their guests to experience 
                            perfection in their restaurants. Which is why they persuaded 
                            Teage Ezard to join. With two Chef’s Hats to his name, Teage 
                            is one of Australia’s most celebrated chefs. He doesn’t believe 
                            in compromise. Only the best will do. And he delivers. Guests at 
                            either of the two unique dining spaces will enjoy a truly 
                            remarkable gastronomic experience – one where the food has been 
                            meticulously crafted to be in perfect harmony with their wines.
                        </p>
                    </mat-card-content> 
                </mat-card>
            </div>   
        </div>
        <div class="contact-container"> 
            <div class="contact-header">
                <h4>
                    FOR BOOKINGS AND ENQUIRIES
                </h4>
            </div>
            <div class="button-container">
                <a class="cont-button" mat-raised-button color="accent" href="tel:+61451979048"> Give us a call <br> +6 1 451 979 048</a>
                <a class="cont-button" mat-raised-button color="accent" href="mailto:admin@premiairhelicopters.com.au"> Send us an email <br> admin@premiairhelicopters.com.au</a>
            </div>
        </div>
        <mat-card class="review-card" fxFlex="">
            <mat-card-title>
                NIKKI
            </mat-card-title>
            <mat-card-subtitle>
                <mat-icon color="accent">star</mat-icon>
                <mat-icon color="accent">star</mat-icon>
                <mat-icon color="accent">star</mat-icon>
                <mat-icon color="accent">star</mat-icon>
                <mat-icon color="accent">star</mat-icon>
            </mat-card-subtitle> 
            <mat-card-content>
                <p>
                    " Our private helicopter flight to the Yarra Valley was a once in a life 
                    time experience. I surprised my husband and he was blown away! We flew to 
                    Levantine Hill Estate where we had lunch at Ezard which was fantastic. It 
                    was a very special day, one we’ll never forget! Highly recommend for anyone 
                    wanting a spectacular day out with someone special.
                     "
                </p>
            </mat-card-content>  
        </mat-card>
    </div>
</body>