<body>
    <div class="banner-container">
        <img class="banner-img" src="../../assets/winery_large.jpeg"> 
        <div class="text-block">
            <p>LUXURY FOOD AND WINE PACKAGES</p>
        </div>
    </div>
    <div class="card-container" fxLayout="column">
        <div fxFlex="" class="description-container">
            <mat-card class="description-card">
                <mat-card-content class="description">
                    <p>
                        Cruise in a helicopter to the cool climate region of the Yarra Valley, 
                        where you can indulge in beautiful cuisine, matched wines and stunning 
                        views - before your relaxing return flight to Melbourne. All flights include 
                        safety briefings, commentary from your pilot, and phenominal photo 
                        opportunities! 
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
        <div fxFlex="">
            <div class="img_row" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
                <mat-card class="wine-card" fxFlex="">
                    <mat-card-title>DE BORTOLI</mat-card-title>
                    <mat-card-subtitle>Yarra Valley</mat-card-subtitle>
                    <mat-card-content class="wine-text">
                        <img class="wine-img" src="../../assets/de-bortoli.png">
                        <p class="wine-para">
                            Wine making in Australia since 1928, the De 
                            Bortoli family has 90 years of experience and love in every drop of
                            their award-winning wines. With a philosophy that celebrates
                            the region, combined with a passion for sustainable practices, De Bortoli wines are 
                            a compliment to the beautiful Yarra Valley landscape. Enjoy a mouth 
                            watering celebration of regional produce at their restaurant Locale, an 
                            expression of the De Bortoli Italian heritage. 
                        </p>
                    </mat-card-content> 
                </mat-card>
                <mat-card class="wine-card" fxFlex="">
                    <mat-card-title>LEVANTINE HILL</mat-card-title>
                    <mat-card-subtitle>Yarra Valley</mat-card-subtitle>
                    <mat-card-content class="wine-text">
                        <img class="wine-img" src="../../assets/levantine.png">
                        <p class="wine-para"> 
                            Levantine Hill is a stunning merge of two of the Yarra Valleys best
                            vineyards. In a unique environment of slopes, the natural amphitheatre of
                            Levantine Hill not only results in premium varietals rich in character,
                            but the distinctive terrain makes for a phenomenal views of the vines and estate.
                            Along with an unforgettable wine tasting experience, you can enjoy culinary delights from
                            within their remarkable avant-garde architectural space.
                        </p>
                    </mat-card-content> 
                </mat-card>
            </div>   
        </div>
        <div class="contact-container"> 
            <div class="contact-header">
                <h4>
                    FOR BOOKINGS AND ENQUIRIES
                </h4>
            </div>
            <div class="button-container">
                <a class="cont-button" mat-raised-button color="accent" href="tel:+61451979048"> Give us a call <br> +6 1 451 979 048</a>
                <a class="cont-button" mat-raised-button color="accent" href="mailto:admin@premiairhelicopters.com.au"> Send us an email <br> admin@premiairhelicopters.com.au</a>
            </div>
        </div>
        <mat-card class="review-card" fxFlex="">
            <mat-card-title>
                NIKKI
            </mat-card-title>
            <mat-card-subtitle>
                <mat-icon color="accent">star</mat-icon>
                <mat-icon color="accent">star</mat-icon>
                <mat-icon color="accent">star</mat-icon>
                <mat-icon color="accent">star</mat-icon>
                <mat-icon color="accent">star</mat-icon>
            </mat-card-subtitle> 
            <mat-card-content>
                <p>
                    " Our private helicopter flight to the Yarra Valley was a once in a life 
                    time experience. I surprised my husband and he was blown away! We flew to 
                    Levantine Hill Estate where we had lunch at Ezard which was fantastic. It 
                    was a very special day, one we’ll never forget! Highly recommend for anyone 
                    wanting a spectacular day out with someone special.
                     "
                </p>
            </mat-card-content>  
        </mat-card>
    </div>
</body>