<body>
    <div routerLink="/scenics" class="banner-container">
        <img class="banner-img" src="../../assets/city_crop.jpg"> 
        <div class="text-block">
            <p>DISCOVER A BETTER VIEW OF MELBOURNE</p>
        </div>
    </div>
    <div class="intro" fxLayout="column">
        <div fxFlex="">
            <div class="img_row" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
                <mat-card routerLink="/about" class="intro-card" fxFlex="">
                    <mat-card-title>SAFE HANDS</mat-card-title>
                    <mat-card-subtitle>Captain John Wotherspoon</mat-card-subtitle>
                    <img class="aboutus-img" src="../../assets/john3.jpg">
                    <mat-card-content class="aboutus-text">
                        <p>With over 30 years flying experience in mustering, airwork, instructing, and 
                            even flying the ABC news chopper, you couldn't be in safer hands
                        </p>
                    </mat-card-content> 
                </mat-card>
                <mat-card routerLink="/scenics" class="intro-card" fxFlex="">
                    <mat-card-title>STUNNING VIEWS</mat-card-title>
                    <mat-card-subtitle>Melbourne, Great Ocean Road, Yarra Valley</mat-card-subtitle>
                    <img class="scenics-img" src="../../assets/john2.jpg">
                    <mat-card-content class="scenics-text">
                        <p>Savour the unforgettable views of the Melbourne city skyline, Great 
                            Ocean Road, Yarra Valley, and more 
                        </p>
                    </mat-card-content>
                </mat-card>
                <mat-card routerLink="/tours" class="intro-card" fxFlex="">
                    <mat-card-title>UNIQUE EXPERIENCES</mat-card-title>
                    <mat-card-subtitle>Exclusive Yarra Valley Food and Wine Tours</mat-card-subtitle>
                    <img class="tours-img" src="../../assets/winery_large.jpeg">
                    <mat-card-content class="tours-text">
                        <p>Join us for a luxurous winery tour to the Yarra Valley with captivating views,
                            award winning wines and bespoke gourmet dining
                        </p>
                    </mat-card-content>
                </mat-card>
                <mat-card routerLink="/aerial" class="intro-card" fxFlex="">
                    <mat-card-title>AERIAL PHOTOGRAPHY</mat-card-title>
                    <mat-card-subtitle>Melbourne Film and Photography</mat-card-subtitle>
                    <img class="aerial-img" src="../../assets/phantom1.jpg">
                    <mat-card-content class="aerial-text">
                        <p>With vast experience in both helicopter and drone platforms, your aerial filming
                            needs are covered from large commercial shoots to small personal projects
                        </p>
                    </mat-card-content>
                </mat-card>
            </div>   
        </div>
    </div>
    <div class="review-container" fxLayout="column">
        <div class="review-hdg">
            <h4>Thanks for flying with us! </h4>
        </div>
        <div class="reviews" fxFlex="" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
            <div fxFlex="">
                <div class="card-container" fxLayout="column">
                    <mat-card class="review-card" fxFlex="">
                    <mat-card-title>
                        JEMIMA
                    </mat-card-title>
                    <mat-card-subtitle>
                        <mat-icon color="accent">star</mat-icon>
                        <mat-icon color="accent">star</mat-icon>
                        <mat-icon color="accent">star</mat-icon>
                        <mat-icon color="accent">star</mat-icon>
                        <mat-icon color="accent">star</mat-icon>
                    </mat-card-subtitle> 
                    <mat-card-content>
                        <p>
                            " Having never been in a helicopter before I didn’t quite know 
                            what to expect but John and the guys from PremiAir Helicopters 
                            made us feel so comforted and welcome, sharing their knowledge 
                            on Melbourne CBD, Essendon Airport and surrounds. We had a blast. 
                            Would highly recommend to anybody visiting Melbourne! "
                        </p>
                    </mat-card-content>  
                    </mat-card>
                    <mat-card class="review-card" fxFlex="">
                        <mat-card-title>
                            SAM
                        </mat-card-title>
                        <mat-card-subtitle>
                            <mat-icon color="accent">star</mat-icon>
                            <mat-icon color="accent">star</mat-icon>
                            <mat-icon color="accent">star</mat-icon>
                            <mat-icon color="accent">star</mat-icon>
                            <mat-icon color="accent">star</mat-icon>
                        </mat-card-subtitle> 
                        <mat-card-content>
                            <p>
                                " What a great experience. First time ever in a Helicopter. 
                                The flight was so enjoyable. We travelled from Essendon into 
                                the CBD where we visited landmarks in Melbourne. John communicated 
                                with me the whole time and made it a very enjoyable experience 
                                that I will never forget. Sitting in the helicopter was very 
                                comfortable and the flight was so smooth and very enjoyable. 
                                Thanks John. "
                            </p>
                        </mat-card-content>   
                    </mat-card>
                </div>
            </div>
            <div fxFlex="">
                <div class="card-container" fxLayout="column">
                    <mat-card class="review-card" fxFlex="">
                        <mat-card-title>
                            DEAN
                        </mat-card-title>
                        <mat-card-subtitle>
                            <mat-icon color="accent">star</mat-icon>
                            <mat-icon color="accent">star</mat-icon>
                            <mat-icon color="accent">star</mat-icon>
                            <mat-icon color="accent">star</mat-icon>
                            <mat-icon color="accent">star</mat-icon>
                        </mat-card-subtitle> 
                        <mat-card-content>
                            <p>
                                " 
                                A unique look at Melbourne CBD and surrounds from the air in a 
                                well appointed and comfortable light helicopter. Very informative 
                                pilot and a comprehensive look around Melbourne CBD and surrounding 
                                area such as Melbourne Docks, St Kilda and Port Melbourne Beaches, 
                                Albert Park Lake, Melbourne University and many more.
                                 "
                            </p>
                        </mat-card-content> 
                    </mat-card>
                    <mat-card class="review-card" fxFlex="">
                        <mat-card-title>
                            SHERYL
                        </mat-card-title>
                        <mat-card-subtitle>
                            <mat-icon color="accent">star</mat-icon>
                            <mat-icon color="accent">star</mat-icon>
                            <mat-icon color="accent">star</mat-icon>
                            <mat-icon color="accent">star</mat-icon>
                            <mat-icon color="accent">star</mat-icon>
                        </mat-card-subtitle> 
                        <mat-card-content>
                            <p>
                                " This whole experience was a thrill from the moment the 
                                Pilot said "hello". The constant dialogue explaining the 
                                iconic buildings and sites was exceptional. There is absolutely 
                                no negative features of this experience. In three words..... 
                                wow wow wow! "
                            </p>
                        </mat-card-content>   
                    </mat-card>
                </div>
            </div>   
        </div>
    </div>
</body>

