body 
    height: auto
    color: #00205B
    text-align: center
    font-size: 14px
    background-color: #ffffff
    font-family: sans-serif
    margin: 25px

h4
    color: #00205B
    font-size: 30px
    font-family: sans-serif
    font-weight: bolder
    padding: 0px

// banner 
.banner-img
    max-width: 1800px
    width: 100%
    height: auto
    border-radius: 3px
    opacity: 1
    filter: brightness(1.2)
    filter: saturate(1.4)


.banner-container
    position: relative

.text-block
    position: absolute
    bottom: 40px
    right: 50px
    color: #ffffff
    font-family: sans-serif
    font-weight: bold
.text-block:hover
    color: #fe5000
    cursor: pointer

@media screen and (min-width: 901px)
    .text-block
        font-size: 25px

@media screen and (max-width: 900px) and (min-width: 701px)
    .text-block
        font-size: 20px

@media screen and (max-width: 700px) and (min-width: 501)
    .text-block
        font-size: 15px

@media screen and (max-width: 500px) and (min-width: 451)
    .text-block
        font-size: 13px

@media screen and (max-width: 450px)
    .text-block
        font-size: 10px


// intro
.intro
    margin-top: 20px
    margin-bottom: 20px
    margin-left: 50px
    margin-right: 50px
    padding-top: 50px
    padding-bottom: 50px
    display: flex
    justify-content: center
    align-items: center
    border-top-style: solid
    border-top-width: thin
    border-top-color: #00205B
    border-bottom-style: solid
    border-bottom-color: #00205B
    border-bottom-width: thin

    

// mat cards
.intro-card
    max-width: 400px
    margin-left: 50px
    margin-right: 50px
    margin-top: 10px
    margin-bottom: 10px
    cursor: pointer
.intro-card:hover
    border-style: solid
    border-width: thin
    border-color: #fe5000


mat-card-title, mat-card-subtitle
    color: #00205B
 
.aboutus-img, .scenics-img, .tours-img
    max-width: 400px
    width: 100%
    height: auto
    border-radius: 3px
    opacity: 1
    filter: brightness(1.2)
    filter: saturate(1.4)

mat-card-content
    text-align: center
    color: #00205B
    font-family: sans-serif

