body 
    height: auto
    color: #00205B
    text-align: center
    font-size: 14px
    background-color: #ffffff
    margin: 25px
    box-shadow: 7px -7px 5px #CCC
    border-radius: 3px

h4
    color: #00205B
    font-size: 30px
    font-weight: bolder
    padding: 0px

// banner 
.banner-img
    max-width: 1800px
    width: 100%
    height: auto
    opacity: 1
    filter: brightness(1.2)
    filter: saturate(1.4)
    
   
.banner-container
    position: relative

.text-block
    position: absolute
    bottom: 40px
    right: 40px
    color: #ffffff
    font-family: sans-serif
    font-weight: bold
    text-shadow: 2px 2px 4px #000000
.text-block:hover
    cursor: pointer
    text-shadow: 2px 2px 4px #000000

@media screen and (min-width: 1301px)
    .text-block
        font-size: 40px

@media screen and (max-width: 1300px) and (min-width: 1001px)
    .text-block
        font-size: 35px

@media screen and (max-width: 1000px) and (min-width: 801px)
    .text-block
        font-size: 25px

@media screen and (max-width: 800px) and (min-width: 651px)
    .text-block
        font-size: 20px

@media screen and (max-width: 650px) and (min-width: 551px)
    .text-block
        font-size: 18px


@media screen and (max-width: 550px) 
    .text-block
        font-size: 15px
        bottom: 5px
        right: 12px
    body
        margin: 8px


// intro
.intro-container
    margin-top: 50px
    margin-bottom: 20px
    margin-left: 50px
    margin-right: 50px
    padding-top: 50px
    padding-bottom: 50px
    display: flex
    justify-content: center
    align-items: center
    border-top-style: solid
    border-top-width: thin
    border-top-color: #00205B
    border-bottom-style: solid
    border-bottom-color: #00205B
    border-bottom-width: thin


@media screen and (max-width: 550px) 
    .intro-container
        margin-left: 10px
        margin-right: 10px
        padding-top: 30px
        padding-bottom: 30px

// mat cards
.intro-card
    max-width: 400px
    margin: 10px
    cursor: pointer
    height: auto

.intro-card:hover
    border-style: solid
    border-width: thin
    border-color: #fe5000

mat-card-title, mat-card-subtitle
    color: #00205B
 
.aboutus-img, .scenics-img, .tours-img, .aerial-img
    max-width: 500px
    width: 100%
    border-radius: 3px
    opacity: 1
    filter: brightness(1.2)
    filter: saturate(1.4)

mat-card-content
    text-align: center
    color: #00205B


// reviews
.review-hdg
    margin-bottom: 40px

.review-container
    margin: 40px
    padding-bottom: 40px

.review-card
    margin: 20px
    padding: 5px
    box-shadow: none !important
    max-width: 600px

.card-container
    display: flex
    justify-content: center
    align-items: center
    
.logo
    max-width: 120px
    width: 100%
    height: auto
    margin-top: 10px

@media screen and (max-width: 550px) 
    .review-container
        margin: 40px 10px 10px 10px
    .review-hdg
        margin-bottom: 10px
    h4
        color: #00205B
        font-size: 24px
        font-weight: bolder
        padding-bottom: 0px
    .review-card
        margin: 10px


// socials
.socials-card
    box-shadow: none !important

.insta-img
    margin: 5px
    max-width: 250px
    width: 100%
    height: auto
    border-style: solid
    border-color: #f9f9f9
    border-width: 20px 20px 60px 20px
    filter: brightness(1.2)
    filter: saturate(1.4)
    box-shadow: 7px -7px 5px #CCC

i, .hashtag
    color: #00205B
    font-size: 30px
    text-decoration: none

.social-container
    border-bottom-style: solid
    border-bottom-color: #00205B
    border-bottom-width: thin
    padding-bottom: 40px
    margin: 30px

@media screen and (max-width: 550px) 
    i, .hashtag
        font-size: 20px
    .social-container
        margin: 10px
        padding: 0px 0px 30px 0px
    .insta-img
        margin: 5px 0px 5px 0px
    .socials-card
        margin: 0px
        padding: 0px


// contact
.contact-container
    padding: 40px   

.cont-button
    margin: 20px 50px 20px 50px
    font-color: #ffffff
    padding: 5px 
    width: 400px !important
    font-weight: bolder
    font-size: 20px

.cont-button:hover
    box-shadow: 7px -7px 5px #CCC
    background-color: #00205B !important

.location
    margin: 80px 10px 30px 10px

.maplink, .address
    font-size: 20px
    color: #00205B
    text-decoration: none

.hangar
    font-weight: bold
    font-size: 20px

.map
    padding: 20px

.map-img
    max-width: 600px
    width: 100%
    height: auto
    margin: 0px 10px 0px 10px

@media screen and (max-width: 550px) 
    .cont-button
        width: 300px !important
        font-size: 16px
    .contact-container
        padding: 30px 10px 30px 10px
    .location
        margin: 40px 0px 20px 0px   
    .maplink, .address
        font-size: 14px
        margin: 0px
        padding: 0px
    .hangar
        font-size: 14px
        padding-top: 10px
    .map
        padding: 5px
    .map-img
        margin: 0px