<body>
    <div>
        <img class="banner" src="../../assets/winery_large_crop.jpeg"> 
    </div>
    <div class="intro" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
        <div fxFlex="">
            text1
        </div>
        <div fxFlex="">
            image1
        </div>
    </div>
    <div class="scenics" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
        <div fxFlex="">
            text2
        </div>
        <div fxFlex="">
            image2
        </div>
    </div>
    <div class="tours" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
        <div fxFlex="">
            text3
        </div>
        <div fxFlex="">
            image3
        </div>
    </div>
    <div class="aerial photography" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
        <div fxFlex="">
            text4
        </div>
        <div fxFlex="">
            image4
        </div>
    </div>
</body>

