<body>
    <div routerLink="/scenics" class="banner-container">
        <img class="banner-img" src="../../assets/city_crop.jpg"> 
        <div class="text-block">
            <p>DISCOVER A BETTER VIEW OF MELBOURNE</p>
        </div>
    </div>
    <div class="intro" fxLayout="column">
        <div fxFlex="">
            <div class="img_row" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
                <mat-card routerLink="/about" class="intro-card" fxFlex="">
                    <mat-card-title>SAFE HANDS</mat-card-title>
                    <mat-card-subtitle>Captain John Wotherspoon</mat-card-subtitle>
                    <img class="aboutus-img" src="../../assets/john3.jpg">
                    <mat-card-content class="aboutus-text">
                        <p>With over 30 years flying experience in mustering, airwork, instructing, and 
                            even flying the ABC news chopper, you couldn't be in safer hands
                        </p>
                    </mat-card-content> 
                </mat-card>
                <mat-card routerLink="/scenics" class="intro-card" fxFlex="">
                    <mat-card-title>STUNNING VIEWS</mat-card-title>
                    <mat-card-subtitle>Melbourne, Great Ocean Road, Yarra Valley</mat-card-subtitle>
                    <img class="scenics-img" src="../../assets/john2.jpg">
                    <mat-card-content class="scenics-text">
                        <p>Experience the unforgettable views of the Melbourne city skyline, Great 
                            Ocean Road, Yarra Valley, and more 
                        </p>
                    </mat-card-content>
                </mat-card>
                <mat-card routerLink="/tours" class="intro-card" fxFlex="">
                    <mat-card-title>UNIQUE EXPERIENCES</mat-card-title>
                    <mat-card-subtitle>Exclusive Yarra Valley Food and Wine Tours</mat-card-subtitle>
                    <img class="tours-img" src="../../assets/winery_large.jpeg">
                    <mat-card-content class="tours-text">
                        <p>Join us for a luxurous winery tour to the Yarra Valley with captivating views,
                            award winning wines and bespoke gourmet dining
                        </p>
                    </mat-card-content>
                </mat-card>
                <mat-card routerLink="/aerial" class="intro-card" fxFlex="">
                    <mat-card-title>AERIAL PHOTOGRAPHY</mat-card-title>
                    <mat-card-subtitle>Melbourne Film and Photography</mat-card-subtitle>
                    <img class="aerial-img" src="../../assets/phantom1.jpg">
                    <mat-card-content class="aerial-text">
                        <p>With vast experience in both helicopter and drone platforms, your aerial filming
                            needs are covered from large commercial shoots to small personal projects
                        </p>
                    </mat-card-content>
                </mat-card>
            </div>   
        </div>
    </div>
    <div class="scenics" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
        <div fxFlex="">
            text2
        </div>
        <div fxFlex="">
            image2
        </div>
    </div>
    <div class="tours" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
        <div fxFlex="">
            text3
        </div>
        <div fxFlex="">
            image3
        </div>
    </div>
    <div class="aerial photography" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column">
        <div fxFlex="">
            text4
        </div>
        <div fxFlex="">
            image4
        </div>
    </div>
</body>

